.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  .hamburger.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger.change .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .change {
    background-color: #007bff;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  }
  