.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.section {
  margin-bottom: 30px;
}

.userImage{
  border-radius: 20px;
}

.containerImage{
  display: flex;
  justify-content: center;
}