.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: relative;
}

.nav {
  margin-right: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.menuItem {
  font-size: 16px;
  padding: 11px;
}

.menuItem a {
  text-decoration: none;
  color: #007bff;
}

.change {
  background-color: #007bff;
}

.active {
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #f8f9fa;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .nav.show .menu {
    display: flex;
  }
}
